################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QlyKinh
/Backup
/bin
/Dll
/obj
/Reports/bin
/Reports/obj
/.vs
/packages
